body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  width: auto;
  text-align: center;
}

table {
	width: 750px;
	border-collapse: collapse;
	margin:50px auto;
  font-size: 17px;
	}

tr:nth-of-type(even) {
	background: #eee;
}

th {
	background: #000000;
	color: white;
  cursor: pointer;
  text-transform: capitalize;
}
th.sort-down::after {
  content: '↓';
}
th.sort-up::after {
  content: '↑';
}

td, th {
	padding: 8px;
	border: 1px solid #ccc;
	text-align: left;
	font-size: 14px;
	}
